.body{
  background: linear-gradient(135deg, #c3ecf7, #a1c4fd);
  min-height: 100vh;
}

/* .Title{
  background-color: beige;
  color: rgb(205, 109, 50);
  text-align: center;
  padding: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
} */

/* .title {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
} */

.title {
    background: beige;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(143, 89, 36);
    letter-spacing: 2px;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.card{
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    overflow: hidden;   /* VERY IMPORTANT */
    transition: 0.3s;
}

.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;   /* change here */
    background-color: white;
    padding: 10px;
}
.name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.price{
  font-weight: bold;
  font-size: 18px;
}

.old-price{
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
  margin-left: 8px;
}

.offer{
  color: green;
  font-weight: bold;
  margin: 5px 0;
}

.category-buttons{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 18px;
}
.myBtn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(223, 219, 219);
  cursor: pointer;
  transition: 0.3s ease;
}

.myBtn:hover {
  background-color: rgb(100, 109, 235);
  color: white;
  transform: translateY(-4px);
}


