.about-container {
  padding: 100px 60px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;

}

.about-image{
    position: relative;
    width: 580px;
    height: 420px;
}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    transition: 0.4s ease;

}
.img2{
    position: absolute;
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    bottom: -60px;
    right: -200px;
    border: 3px solid white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: 0.4s ease;
}
.about-image img:hover {
  transform: scale(1.05);
}

.about-content {
  max-width: 550px;
  /* border: 1px solid white; */
  border-radius: 20px;
  padding: 30px;
}

.about-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: black;
}

.about-content p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}

.about-highlights {
  display: flex;
  gap: 30px;
  margin: 30px 0;
}

.about-highlights div {
  text-align: center;
}

.about-highlights h3 {
  font-size: 28px;
  color: black;

}

.about-highlights span {
  font-size: 14px;
  color: gray;
}

.about-btn {
  padding: 12px 30px;
  border: none;
  background: #41b792;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background: #1d8463;
}
