.contact {
  padding: 100px 20px;
  background: #edeef0;
  text-align: center;
}
.contact-heading {
  font-size: 38px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid white;
  border-radius: 12px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.contact-card {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: left;
}

.contact-card h3 {
  margin-bottom: 20px;
}

.details-card p {
  margin-bottom: 10px;
  color: #555;
}

.office-hours {
  margin-top: 20px;
}

.office-hours h4 {
  margin-bottom: 10px;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card input,
.form-card textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.form-card input:focus,
.form-card textarea:focus {
  border-color: rgba(0,0,0,0.6);
}

.form-card button {
  padding: 12px;
  border: none;
  background: #41b792;

  color: white;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.form-card button:hover {
  background: #1d8463;
}
