footer{
  background: rgb(0,0,0,0.6);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  text-align: center;
  color: white;
}
.footer-text{
  font-size: 12px;
  padding: 5px;
  
}
