.packages {
  padding: 80px 50px;
  text-align: center;
  background: #d8dde6;
}

.packages h2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  font-size: 40px;
  margin-bottom: 80px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 280px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  font-size: 22px;
}

.duration {
  padding: 0 15px;
  font-weight: 500;
  color: gray;
}

.price {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 18px;
}

.card ul {
  padding: 0 20px 10px 35px;
  font-size: 14px;
}

.card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #41b792;

  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #1d8463;
}
