*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    /* height: 100vh; */
    margin: auto;
}
.header{
    background: linear-gradient(to right, #98dfd9, #017e7c);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}
.heading{
    font-size: 15px;
    display: flex;
    font-family: "Abril Fatface", serif;
     text-shadow: 3px 3px 10px rgba(0,0,0,1);

}
.heading img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
h1{
    padding-left: 10px;
    padding-top: 20px;
}
.nav{
    display: flex;
    gap: 25px;
    list-style: none; 
}
.nav a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,1);
    font-weight: 550;
    font-family: "Abril Fatface", serif;;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.nav a:hover{
    background-color: rgba(15, 15, 16, 0.556);
}

.home-banner{
  /* background-color: rgb(229, 212, 179); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);  /* Adjust fade color */
  top: 0;
  left: 0;
}
.home-banner img{
    /* width: 100%; */
    /* height: 100vh; */
    object-fit: cover;
    overflow: hidden;
}
.text{
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
     color: white;
    font-family: "Lora", serif;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 1.2px;
}
.text2{
     /* font-family: "Playwrite NZ Basic", cursive; */
     font-style: normal;
     font-size: 50px;
    /* color: rgb(0, 0, 128); */
    color: white;
     text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
     position: relative;
     left: 10px;    
}
.text3{
    color: white;
    font-size: 15px;
}

