body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #efe0c4;
}

nav {
  background: #dcd377;
  padding: 15px;
}

nav a {
  color: rgb(7, 7, 7);
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  color: #080808;
}

h2 {
  text-align: center;
}
.home-page {
  padding: 20px;
  text-align: center;
}

.home-title {
  margin-bottom: 25px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.card button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #00bcd4;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #0097a7;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: #f8f8f8;
  border-radius: 8px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}
.products-page {
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 15px;
}
.filter-box {
  margin-bottom: 25px;
}

.filter-box select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 10px;
}
.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.category-buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #b3d2d6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.category-buttons button:hover {
  background: #0097a7;
}

.cart-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.cart-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #f5f5f5;
  border-radius: 6px;
}
